*{
    margin: 0;
    padding: 0;
}

a img{
    width: 10%;
    height: 10%;    
}

a .navbar-brand{
    float:left;
}

.header {
    background-color: transparent !important;
  }

  #Destacados{
    background-color: #000000;
    padding: 30px;
  }

  #Contacto{
    background-color: #000000;
    padding: 30px;
  }

  #Quienes{
    background-color: #000000;
    padding: 40px;
  }

  footer{
    background-color: #31C4EA;
    padding: 40px;
  }

  .fa-plane {
    color: #FFFFFF;
    position: relative;
    left: 50%;
  }

  .fa-mountain {
    color: #FFFFFF;
    position: relative;
    left: 50%;
  }

  .fa-location-dot {
    color: #FFFFFF;
    position: relative;
    left: 50%;
  }

  button{
    position: relative;
    right: 96%; 
    background-color: #31C4EA !important;
  }

  @media (max-width: 768px) {
    #Contacto form label {
    }
    }
    