*{
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #000000;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%; 
  transition: top 0.3s;
}

  #Destacados{
    background-color: #000000;
    padding: 30px;
  }


  #Destacados h4{
    color: #FFFFFF;
font-weight: 200;
  }

  #Contacto{
    background-color: #000000;
    padding: 30px;
    align-items: center;
  }

  #Contacto h4{
    color: #FFFFFF;
font-weight: 200;
  }

  #Quienes{
    background-color: #000000;
    padding: 50px;
  }

  #Quienes h4{
    color: #FFFFFF;
font-weight: 200;
  }

  .card-body{
    background-color: #000000;
    text-align: center;
  }


  footer{
    background-color: #31C4EA;
    padding: 40px;
  }

  .fa-plane {
    color: #FFFFFF;
    position: relative;
    left: 50%;
  }

  .fa-mountain {
    color: #FFFFFF;
    position: relative;
    left: 50%;
  }

  .fa-location-dot {
    color: #FFFFFF;
    position: relative;
    left: 50%;
  }

  button{
    position: relative;
    right: 94%; 
    background-color: #31C4EA !important;
  }

  .fa-square-facebook {
    color: #FFFFFF;
  }

  .fa-square-twitter{
    color: #FFFFFF;
  }

  .fa-linkedin{
    color: #FFFFFF;
  }

  .fa-square-github{
    color: #FFFFFF;
  }


.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
  min-height:400px;
  flex: auto;
  display:inline-block;
}

.card-title h4{
  margin-top: 10%;
text-align: center;
}


@media screen and (max-width: 600px) {
  div.quienes {
    display: none;
  }
}

